.eventItemContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	/* max-width: 900px; */
	background-color: rgb(255, 255, 255);
	/* margin: 0 auto; */
	padding: 1.25rem;
	cursor: pointer;
}

.eventItemContainer:hover {
	background-color: rgba(0, 181, 181, 0.15);
	transition: all 0.3s ease-in-out;
}

.urlRedirect {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-bottom: 1px solid rgb(230, 233, 235);
	margin: 0 1rem;
	color: transparent;
	text-decoration: none;
}

.col-1 {
	display: flex;
	flex-direction: column;
	flex-basis: 8.33%;
}
.col-2 {
	display: flex;
	flex-direction: column;
	flex-basis: 16.67%;
}
.col-3 {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
}
.col-8 {
	display: flex;
	flex-direction: column;
	flex-basis: 66.67%;
}

.text--heavy {
	font-weight: 700;
	color: #2f343b;
}

.event-text--md {
	font-size: 13px;
}

.event-text--sm {
	font-size: 12px;
}

.event-text--lg {
	font-size: 14px;
}
.warning {
	padding-top: 10px;
	color: rgb(217, 65, 133);
}
